{% extends 'base.html' %}

{% block sidebar %}
    {{ block.super }}
    <ul>
        {% if user.is_authenticated %}
            <h4> {{ user }} is logged in</h4>
            <li><a href='/inventory/edit_profile'> edit profile</a></li>
            <li><a href='/inventory/logout'> Logout</a></li>
        {% else %}
            <p> Nobody is logged in  </p>
        {% endif %}

    </ul>
{% endblock %}

###################################################################

{% block jquery %}
    $(function() {
    var $form = $('#payment-form');
    $form.submit(function(event) {
    // Disable the submit button to prevent repeated clicks:
    $form.find('.submit').prop('disabled', true);

    // Request a token from Stripe:
    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from being submitted:
    return false;
    });
    });
{% endblock %}

#####################################################################

{% block script %}
<script type="text/javascript">
        Stripe.setPublishableKey('{{ publishkey }}');

        function stripeResponseHandler(status, response) {
            // Grab the form:
            var $form = $('#payment-form');

            if (response.error) { // Problem!

                // Show the errors on the form:
                $form.find('.payment-errors').text(response.error.message);
                $form.find('.submit').prop('disabled', false); // Re-enable submission

            } else { // Token was created!

                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="stripeToken">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        };
    </script>
{% endblock %}


#####################################################################


{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <form action="" method="POST"> {% csrf_token %}
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_ZQv3SAiAFPs4NDgNRjDWABJG"
                        data-amount="{{price}}"
                        data-name="Payment"
                        data-description="Widget"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                </script>
            </form>
        </div>
    </div>


{% endblock %}