{% extends 'base.html' %}

{% block sidebar %}
    {{ block.super }}
    <ul>
        {% if user.is_authenticated %}
            <h4> {{ user }} is logged in</h4>
            <li><a href='/inventory/edit_profile'> edit profile</a></li>
            <li><a href='/inventory/logout'> Logout</a></li>
        {% else %}
            <p> Nobody is logged in  </p>
        {% endif %}

    </ul>
{% endblock %}

{% block content %}
    <h2> hi {{ name }}!! you are now logged in </h2>
    <p> click <a href='/inventory/logout/'>here </a> to logout</p>

{% endblock %}